@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
    font-size: 62.5%;
    background-color: #F5F2F0;
}


/* NAVBAR BEGINS */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem;
  height: auto;

}




.logo>img{
  height: 4.5rem;
}

.list{
  display: flex;
  font-size: 2rem;
  align-items: center;
}


.list{
  list-style-type: none;
  float: right;
}
.list>li{
  margin-left: 6rem;
  margin-right: 6rem;
}


.nav-link{
  color: #929191;
}
.active-link{
  color: #000;
}

.list::before{
  content: "";
  display: block;
  width: 35rem;
  height: 0.2rem;
  background-color: #000;
}





.burger{
  display: none;
  flex-direction: column;
  gap: 1rem;
  border: 0.1rem solid transparent;
  padding: 1.4rem;
  border-radius: 0.8rem;
  cursor: pointer;
}
.burger:hover{
  border: 0.1rem solid #fffefe;
}

.burger>div{
  background-color: #fffefe;
  height: 0.8rem;
  width: 5rem;
}





/* NAVBAR ENDS */


/* MAIN SECTION BEGINS*/

.main{
  display: flex;
  margin: 4rem 0rem;
}

.left-section{
  width: 40%;
}
.left-section>img{
  position: absolute;
  top: 0rem;
  width:68.6rem;
  z-index: -1;
}

.right-section{
  width:60%;
  display: flex;
  flex-direction: column;
}

.creative{
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.headings{
  width:60%
}


.hollow,.filled{
  font-family: 'Merriweather';
  font-size: 14rem;
}
.hollow{
  color: black;
  -webkit-text-fill-color: #F5F2F0; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  
}

.filled{
  text-align: end;
  color: #333333;
}

.para{
  position: relative;
}

p{
  position: absolute;
  bottom: 0rem;
  left: 2rem;
  font-family: 'Merriweather';
  font-size: 4rem;
  color: #8A8A8A;
}

.socials{
  margin: 1rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  margin-left: 30rem;
}

.logo{
  height: 3rem;
}


.btn{
  width: 32rem;
  height: 6rem;
  font-family: "Poppins", sans-serif;
  font-size: 2rem ;
  font-weight: 500;
  background-color: #333333;
  color: #ffffff;
  margin-left: 71rem;
}




.bottom{
  display: flex;
  padding: 2rem 0rem;
  gap: 8.4rem;
}


.content-list{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}




.list-right{
  width: 40%;
}


ul{
  list-style-type: none;
}

.content{
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin-bottom: 4rem;
  
}


.quotes{
  width: 5rem;
  margin-bottom: 3.1rem;
}

.right-para>h3{
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}


.bottom-img>img{
  width:100%;
}

.arrow > img{
  margin-top: 8.5rem;
}